{% extends 'template.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block title %} {{data.head}} {% endblock %}

{% block content %}
    <h2 class="articleHeader">{{data.head}}</h2>
    <img src="/media/{{data.image}}" class='articleImage' alt="{{data.head}}">
    <div class="mainText">{{data.body|linebreaks}}</div>
    <div class="articleDate">{{data.date|date:"j.m.y G:i"}}</div>
    <div class="editPanel">
        <a class="btn btn-primary" href="/ethnos/{{data.ethnos.id}}/article/{{data.id}}/edit" role="button">Редактировать</a>
        <a href="/log/{{data.id}}">История изменений</a>
    </div>
{% endblock %}