{% extends 'template.html' %}
{% load static %}

{% block title %} Внесение изменений {% endblock %}

{% block content %}
    <div class="route">
        <a href="/">Главная</a>/
        <a href="/ethnos">Этносы</a>/
        <a href="/ethnos/{{data.ethnos.id}}">{{data.ethnos}}</a>/
        <a href="/ethnos/{{data.ethnos.id}}/article/{{data.id}}">{{data.head}}</a>
    </div>
    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" >
{% endblock %}