{% extends 'template.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %} Arctic Knowledge {% endblock %}

{% block content %}
<div class="row justify-content-evenly">
    {% for str in eth %}
        <a href="ethnos/{{str.id}}" class="col-4 ethnosLink">
            <div class="card">
                <img src="media/{{str.image}}" class="card-img-top ethnosImage" alt="{{str.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{str.name}}</h5>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}