{% extends 'template.html' %}
{% load static %}

{% block title %} Страница модерации {% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                Старая версия
            </td>
            <td>
                Предложенная версия
            </td>
        </tr>
        {% for preArticle, article in data %}
            <tr>
                <td>
                    {{preArticle.head}}
                </td>
                <td>
                    {{article.head}}
                </td>
            </tr>
            <tr>
                <td>
                    {{preArticle.body}}
                </td>
                <td>
                    {{article.body}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}