{% extends 'template.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block title %} Новости {% endblock %}

{% block content %}
    {% for article in data %}
        <div class="newsArticle row">
            <img src="media/{{article.image}}" class="previewIMG col-4">
            <div class="textBlock col-8">
                <h2 class="newsHeader">
                    {{ article.head }}
                </h2>
                <div class="newsText">
                    {{ article.body }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}